body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:rgb(46, 11, 11);
    margin: 0;
}
.section-1 .bg-image{
    margin-top: 0;
    max-width: none;
    width: 100%;
    height: 100%; 
}
.section-1{
    background-image: url("hero-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    margin: auto;
}

.header{
    display: flex;
    height: 80px;
    max-width: 1920px;
    justify-content: space-between;
}
.logo{
    height: 115px;
    width: auto;
    margin-top: -3%;
    padding-left: 35px;
}
.sign-in button{
    background-color:rgb(229, 9, 20);    
    color:rgb(255, 255, 255);
    border-radius: 3px;
    cursor:pointer;
    display:block;
    float:right;
    font-family:"Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    padding: 7px 17px 7px 17px;
    text-decoration-color:rgb(255, 255, 255);
    text-decoration-style:solid;
    text-size-adjust:100%;
    border: none;
    margin-right: 40px;
    margin-top: 25px;
}
.welcome{
    color: white;
    text-align: center;
    margin-top: 70px;
}
.welcome-text{
    font-size: 50px;
    font-weight: bold;
}
.timeline-text{
    color: #8c8c8c;
    font-size: 26px;
    margin-top: -50px;
}

.green{
    float: left;
    width: 33.33%;
    color: #00d65f;
    font-weight: bold;
    font-size: 26px;
}
.column{
    float: left;
    width: 33.33%;
    font-size: 26px;
}
/* .row{
    display: flex;
    justify-content: space-between;
    width: 33.33%;
} */
.timeline-bar {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #00d65f), color-stop(50%, #308234), color-stop(50%, #3f3f3f), color-stop(85%, #3f3f3f), to(rgba(63, 63, 63, 0)));
    background: -webkit-linear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: -moz- oldlinear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: -o-linear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: linear-gradient(to right, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    width: 74%;
    height: 1.5em;
    border-radius: 30px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}
.timeline-bar:before {
    left: 50%;
}
.timeline-bar:after {
    left: 90%;
}
.timeline-bar:after, .timeline-bar:before {
    content: '';
    width: 2.7em;
    height: 2.7em;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: white;
    border-radius: 2em;
}
.welcome-text-2{
    font-size: 20px;
    margin: 16px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
}
.welcome-button button{
    margin-top: 20px;
    width: 400px;
    height: 60px;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.red{
    background-color: red;
}
.transparent{
    background-color: transparent;
    border: 0.5px solid white !important;
}
